tools/_*/
games/*/tools/_*/
games/*/build/
__pycache__/
*.blend1
node_modules/
dist/
tools/admin/stats.json
songs_draft/
tools/admin/recent.json
tools/admin/events.csv
tools/admin/public.json
kiraan.json
